.rounds {
  &__full1 {
    width: 780px;
    height: 780px;
    background-color: #36536b40;
    border-radius: 50%;
    position: absolute;
    left: -120px;
    top: -590px;
    z-index: -1;
  }
  &__full2 {
    width: 780px;
    height: 780px;
    background-color: #36536b07;
    border-radius: 50%;
    position: absolute;
    left: -120px;
    top: 40px;
    z-index: -20;
  }
  &__full3 {
    width: 780px;
    height: 780px;
    background-color: #36536b40;
    border-radius: 50%;
    position: absolute;
    left: -110px;
    top: 3680px;
    z-index: 0.2;
  }
}
@media only screen and (min-width: 576px) {
  .rounds {
    &__full1 {
      width: 780px;
      height: 780px;
      background-color: #36536b40;
      border-radius: 50%;
      position: absolute;
      left: -120px;
      top: -490px;
      z-index: -1;
    }
    &__full2 {
      width: 780px;
      height: 780px;
      background-color: #36536b07;
      border-radius: 50%;
      position: absolute;
      left: -120px;
      top: 250px;
      z-index: -20;
    }
    &__full3 {
      width: 780px;
      height: 780px;
      background-color: #36536b40;
      border-radius: 50%;
      position: absolute;
      left: 280px;
      top: 3480px;
      z-index: 0.2;
    }
  }
}

@media only screen and (min-width: 768px) {
  .rounds {
    &__full1 {
      width: 780px;
      height: 780px;
      background-color: #36536b40;
      border-radius: 50%;
      position: absolute;
      left: 850px;
      top: -290px;
      z-index: -1;
    }
    &__full2 {
      width: 780px;
      height: 780px;
      background-color: #36536b07;
      border-radius: 50%;
      position: absolute;
      left: -120px;
      top: 350px;
      z-index: -20;
    }
    &__full3 {
      width: 780px;
      height: 780px;
      background-color: #36536b40;
      border-radius: 50%;
      position: absolute;
      left: 1180px;
      top: 1480px;
      z-index: 0.2;
    }
  }
}
